@page "/twozones"
@using Plk.Blazor.DragDrop.Demo.Components
@using Plk.Blazor.DragDrop.Demo.Data
@using Plk.Blazor.DragDrop.DropActions

<div class="bg-success">You can drag items from one dropzone to another dropzone.</div>

<hr />

<div class="bg-light">First Dropzone:</div>

<Dropzone Items="MyFirstList" TItem="TodoItem" OnItemDrop="@((i)=>lastdropped = i)"  AllowsDrag='(d)=>d.Titel == "Item 1"'>
    <div style="border: 2px solid blue">
        @context.Titel
    </div>
</Dropzone>

<hr />

<div class="bg-light">Second Dropzone:</div>

<Dropzone Items="MySecondList" TItem="TodoItem" OnItemDrop="@((i)=>lastdropped = i)"  AllowsDrag='(d)=>d.Titel == "Item 1"'>
    <div style="border: 2px solid black">
        @context.Titel
    </div>
</Dropzone>

<hr />

<div class="bg-light">Third Dropzone (copy items):</div>

<Dropzone Items="MyThirdList" TItem="TodoItem" OnSelectDropAction="@SelectCopyDropAction" OnItemDrop="@((i)=>lastdropped = i)">
    <div style="border: 2px solid black">
        @context.Titel
    </div>
</Dropzone>

<hr />

<div>Last Dropped Item: @lastdropped?.Titel</div>


@code {

    private TodoItem lastdropped { get; set; }

    public List<TodoItem> MyFirstList = new List<TodoItem>()
{
            new TodoItem(){Titel = "Item 1"},
            new TodoItem(){Titel = "Item 2"},
            new TodoItem(){Titel = "Item 3"},
            new TodoItem(){Titel = "Item 4"},
            new TodoItem(){Titel = "Item 5"},
    };

    public List<TodoItem> MySecondList = new List<TodoItem>()
    {
            new TodoItem(){Titel = "Item 6"},
            new TodoItem(){Titel = "Item 7"},
            new TodoItem(){Titel = "Item 8"},
            new TodoItem(){Titel = "Item 9"},
            new TodoItem(){Titel = "Item 10"},
    };

    public List<TodoItem> MyThirdList = new List<TodoItem>()
    {
    };

    private void SelectCopyDropAction(DropzoneSelectDropActionArgs<TodoItem> args)
    {
        var dropAction = new CopyDropAction<TodoItem>();
        dropAction.CopyItem = (item) => { return new TodoItem() { Titel = item.Titel }; };

        args.DropAction = dropAction;
    }
}
