@typeparam TItem
@inject DragDropService<TItem> DragDropService
@using System.Text
@implements IDisposable

<div class="@GetClassesForDropzone()" @ondragover:preventDefault @ondragover="()=> { }" @ondragenter:preventDefault @ondragenter="()=> { }" @ondrop="()=>OnDrop()" @ondrop:preventDefault ondragstart="event.dataTransfer.setData('text', event.target.id);">

    @foreach (var item in Items)
    {

        if (Items.IndexOf(item) == 0)
        {
            <div @ondrop="()=>OnDropItemOnSpacing(0)" @ondragenter="()=>DragDropService.ActiveSpacerId =  0" @ondragleave="()=>DragDropService.ActiveSpacerId = null" class="@GetClassesForSpacing(0)"></div>
        }

        <div draggable="true"
             @ondragstart="()=>OnDragStart(item)"
             @ondragend="()=>OnDragEnd()"
             @ondragenter="()=>OnDragEnter(item)"
             @ondragleave="()=>OnDragLeave()"
             class="@GetClassesForDraggable() @CheckIfItemIsInTransit(item) @CheckIfItemIsDragTarget(item) @CheckIfDragOperationIsInProgess()">

            @{
                if (ChildContent != null)
                {
                    @ChildContent(item);
                }
            }

        </div>

        <div @ondrop="()=>OnDropItemOnSpacing(Items.IndexOf(item)+1)" @ondragenter="()=>DragDropService.ActiveSpacerId = Items.IndexOf(item)+1" @ondragleave="()=>DragDropService.ActiveSpacerId = null" class="@CheckIfDragOperationIsInProgess() @GetClassesForSpacing(Items.IndexOf(item)+1)"></div>
    }

</div>

@code {

        private void OnDropItemOnSpacing(int newIndex)
        {
            if (!IsDropAllowed())
            {
                DragDropService.Reset();
                return;
            }

            var activeItem = DragDropService.ActiveItem;
            var oldIndex = Items.IndexOf(activeItem);

            if(oldIndex == -1) // item not present in target dropzone
            {
                if(CopyItem == null)
                {
                    DragDropService.Items.Remove(activeItem);
                }
            }
            else // same dropzone drop
            {
                Items.RemoveAt(oldIndex);
                // the actual index could have shifted due to the removal
                if (newIndex > oldIndex) newIndex--;
            }

            if(CopyItem == null)
            {
                Items.Insert(newIndex, activeItem);
            }
            else
            {
                Items.Insert(newIndex, CopyItem(activeItem));
            }

            //Operation is finished
            DragDropService.Reset();

            OnItemDrop.InvokeAsync(activeItem);
        }

    private TItem dragTargetItem;

    private bool IsMaxItemLimitReached()
    {
        var activeItem = DragDropService.ActiveItem;

        return (!Items.Contains(activeItem) && MaxItems.HasValue && MaxItems == Items.Count());
    }

    private bool IsItemAccepted()
    {
        if (Accepts == null) return true;

        return Accepts(DragDropService.ActiveItem);
    }

    private bool IsValidItem()
    {
        return DragDropService.ActiveItem != null;
    }

    protected override bool ShouldRender()
    {
        return DragDropService.ShouldRender;
    }

    private void ForceRender(object sender, EventArgs e)
    {
        StateHasChanged();
    }


    protected override void OnInitialized()
    {
        DragDropService.StateHasChanged += ForceRender;

        base.OnInitialized();
    }

    public string CheckIfDragOperationIsInProgess()
    {
        var activeItem = DragDropService.ActiveItem;

        return activeItem == null ? "" : "plk-dd-inprogess";
    }

    public void OnDragEnd()
    {
        DragDropService.Reset();
    }

    public void OnDragEnter(TItem item)
    {
        var activeItem = DragDropService.ActiveItem;

        if (item.Equals(activeItem)) return;

        if (!IsValidItem()) return;

        if (IsMaxItemLimitReached()) return;

        if (!IsItemAccepted()) return;

        dragTargetItem = item;

        if (InstantReplace)
        {
            Swap(dragTargetItem, activeItem);
        }

        DragDropService.ShouldRender = true;
        StateHasChanged();
        DragDropService.ShouldRender = false;
    }

    public void OnDragLeave()
    {
        dragTargetItem = default(TItem);

        DragDropService.ShouldRender = true;
        StateHasChanged();
        DragDropService.ShouldRender = false;
    }

    public void OnDragStart(TItem item)
    {
        DragDropService.ShouldRender = true;
        DragDropService.ActiveItem = item;
        DragDropService.Items = Items;
        StateHasChanged();
        DragDropService.ShouldRender = false;
    }

    public string CheckIfItemIsInTransit(TItem item)
    {
        return item.Equals(DragDropService.ActiveItem) ? "plk-dd-in-transit no-pointer-events" : "";
    }

    public string CheckIfItemIsDragTarget(TItem item)
    {
        if (item.Equals(DragDropService.ActiveItem)) return "";

        return item.Equals(dragTargetItem) ? "plk-dd-dragged-over" : "";
    }

    private string GetClassesForDraggable()
    {
        var builder = new StringBuilder();

        builder.Append("plk-dd-draggable");

        if (!String.IsNullOrEmpty(ItemWrapperClass))
        {
            builder.AppendLine(" " + ItemWrapperClass);
        }

        return builder.ToString();
    }

    private string GetClassesForDropzone()
    {
        var builder = new StringBuilder();

        builder.Append("plk-dd-dropzone");

        if (Style == DragDropStyle.Default)
        {
            builder.Append(" plk-dd-default-style");
        }

        if (!String.IsNullOrEmpty(Class))
        {
            builder.AppendLine(" " + Class);
        }

        return builder.ToString();
    }

    private string GetClassesForSpacing(int spacerId)
    {
        var builder = new StringBuilder();

        builder.Append("plk-dd-spacing");

        if (Style == DragDropStyle.Default)
        {
            builder.Append(" plk-dd-default-style");
        }


        //if active space id and item is from another dropzone -> always create insert space
        if (DragDropService.ActiveSpacerId == spacerId && Items.IndexOf(DragDropService.ActiveItem) == -1)
        {
            builder.Append(" plk-dd-spacing-dragged-over");
        } // else -> check if active space id and that it is an item that needs space
        else if (DragDropService.ActiveSpacerId == spacerId && (spacerId != Items.IndexOf(DragDropService.ActiveItem)) && (spacerId != Items.IndexOf(DragDropService.ActiveItem) + 1))
        {
            builder.Append(" plk-dd-spacing-dragged-over");
        }

        return builder.ToString();
    }

    /// <summary>
    /// To use your own style css set this to none
    /// </summary>
    [Parameter] public DragDropStyle Style { get; set; } = DragDropStyle.Default;

    /// <summary>
    /// Allows to pass a delegate which executes if something is dropped and decides if the item is accepted
    /// </summary>
    [Parameter] public Func<TItem, bool> Accepts { get; set; }

    /// <summary>
    /// Raises a callback with the dropped item as parameter in case the item can not be dropped due to the given Accept Delegate
    /// </summary>
    [Parameter] public EventCallback<TItem> OnItemDropRejected { get; set; }

    /// <summary>
    /// Raises a callback with the dropped item as parameter
    /// </summary>
    [Parameter] public EventCallback<TItem> OnItemDrop { get; set; }

    /// <summary>
    /// If set to true, items will we be swapped/inserted instantly.
    /// </summary>
    [Parameter] public bool InstantReplace { get; set; }

    /// <summary>
    /// List of items for the dropzone
    /// </summary>
    [Parameter] public IList<TItem> Items { get; set; }

    /// <summary>
    /// Maximum Number of items which can be dropped in this dropzone. Defaults to null which means unlimited.
    /// </summary>
    [Parameter] public int? MaxItems { get; set; }

    /// <summary>
    /// Raises a callback with the dropped item as parameter in case the item can not be dropped due to item limit.
    /// </summary>
    [Parameter] public EventCallback<TItem> OnItemDropRejectedByMaxItemLimit { get; set; }

    [Parameter] public RenderFragment<TItem> ChildContent { get; set; }

    /// <summary>
    /// Specifies one or more classnames for the Dropzone element.
    /// </summar
    [Parameter] public string Class { get; set; }

    /// <summary>
    /// Specifies the id for the Dropzone element.
    /// </summar
    [Parameter] public string Id { get; set; }

    /// <summary>
    /// Specifies one or more classnames for the draggable div that wraps your elements.
    /// </summar
    [Parameter] public string ItemWrapperClass { get; set; }

    /// <summary>
    /// If set items dropped are copied to this dropzone and are not removed from their source.
    /// </summar
    [Parameter] public Func<TItem,TItem> CopyItem { get; set; }

    private bool IsDropAllowed()
    {
        var activeItem = DragDropService.ActiveItem;

        if (!IsValidItem())
        {
            return false;
        }

        if (IsMaxItemLimitReached())
        {
            OnItemDropRejectedByMaxItemLimit.InvokeAsync(activeItem);
            return false;
        }

        if (!IsItemAccepted())
        {
            OnItemDropRejected.InvokeAsync(activeItem);
            return false;
        }

        return true;
    }


    private void OnDrop()
    {
        DragDropService.ShouldRender = true;

        if (!IsDropAllowed())
        {
            DragDropService.Reset();
            return;
        }

        var activeItem = DragDropService.ActiveItem;

        if (dragTargetItem == null) //no direct drag target
        {
            if (!Items.Contains(activeItem)) //if dragged to another dropzone
            {
                if(CopyItem == null)
                {
                    Items.Insert(Items.Count, activeItem); //insert item to new zone
                    DragDropService.Items.Remove(activeItem); //remove from old zone
                }
                else
                {
                    Items.Insert(Items.Count, CopyItem(activeItem)); //insert item to new zone
                }
            }
            else
            {
                //what to do here?

            }
        }
        else // we have a direct target
        {
            if (!InstantReplace)
            {
                Swap(dragTargetItem, activeItem); //swap target with active item
            }
        }

        dragTargetItem = default(TItem);
        DragDropService.Reset();

        StateHasChanged();

        OnItemDrop.InvokeAsync(activeItem);
    }

    private void Swap(TItem draggedOverItem, TItem activeItem)
    {
        var indexDraggedOverItem = Items.IndexOf((TItem)draggedOverItem);
        var indexActiveItem = Items.IndexOf((TItem)activeItem);

        if (indexActiveItem == -1) // item is new to the dropzone
        {
            //insert into new zone
            Items.Insert(indexDraggedOverItem + 1, activeItem);
            //remove from old zone
            DragDropService.Items.Remove(activeItem);
        }
        else //swap the items
        {
            if (indexDraggedOverItem == indexActiveItem) return;
            TItem tmp = Items[indexDraggedOverItem];
            Items[indexDraggedOverItem] = Items[indexActiveItem];
            Items[indexActiveItem] = tmp;
        }

    }

    public void Dispose()
    {
        DragDropService.StateHasChanged -= ForceRender;
    }
}
